.main{
    margin-left: 10px;
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif;
    }

body{
    margin-top: 30px;
    background-color:skyblue;
}

#currentname{
    font-family: arial,sans-serif;
    font-size: 1cm;
    margin-left:10vh;
}

#currdate{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left:10vh;
}


#tempval{
    font-size: 1cm;
    margin-left:20vh;
}

#tempdesc{
    font-size: 20px;
    margin-left:10vh;
}

#image{
    margin-left:10vh;

}

#btn-align{
    margin-left: 20vh;
}

h1{

    margin-left: 65vh;

}
    
    
#containers {

    height: 140vh;
    width: 100vh;
    margin: 25vh auto;
    margin-top: 35px;
    margin-bottom: 10px;
    border: 2px solid ;
    background-color: whitesmoke;
                
            }

    
 h3{
                
    font-family: cursive
            
}
           
.weathervalue
{
    float: right;
    table-layout: fixed;
    
}

    #img-container
    {
        height: 50vh;
        width: 50vh;
    }

    .one {
       display: flex;
       justify-content: space-evenly;
            }
