body{
    margin-top: 30px;
    background-color:skyblue;
}

#currentname{
    font-family: arial,sans-serif;
    font-size: 1cm;
    margin-left:10vh;
}

#location{
    font-size: 1cm;
    margin-left:10vh;
}

 #dates{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

} 


#btn-align{
    margin-left: 70px;
}

h1{

    margin-left: 65vh;

}
    
    
    #containers {
                height: 130vh;
                width: 100vh;
                margin: 25vh auto;
                margin-top: 35px;
                margin-bottom: 10px;
                border: 2px solid ;
                background-color: whitesmoke;
            }

    
 h3{
                font-family: cursive
            }
           
.weathervalue
{
    float: right;
    table-layout: fixed;
    
}

    #img-container
    {
        height: 50vh;
        width: 50vh;
    }
    .inner{
       display: flex;
       justify-content: "space-evenly";
            }
    .outer{
        display: flex;
        justify-content: "space-evenly";
        }
        
 